.DS_STORE
src/parser
/parser
bin
out
*.dot
*.pdf
src/.antlr
src/antlr/.antlr
/.antlr

# Arquivos gerados pelo graphviz
graph.png
graph.pdf
graph.dot

# Eventuais bytecodes gerados durante testes
*.class
*.j
